{% extends 'base.html.twig' %}

{% block body %}

<form action="{{path('security_login')}}" method="post">
    <legend>Connexion</legend>
    {% if inactiveAccount %}
    <div class="alert alert-danger"> {{ inactiveAccount }} </div>
    {% endif %}
    <div class="form-group">
    
        <label>Email</label>
        <input type="text" placeholder="Adresse mail" required name="_username" class="form-control">
    </div>
    <div class="form-group">
        <label>Mot de passe</label>
        <input type="password" placeholder = "Password" required name="_password" class="form-control">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Connexion</button>
    </div>
    <div>
    
    
    </div>
</form>

{% endblock %}