{% extends "base.html.twig" %}
{% block title %}Experiences{% endblock %}
{% block body %}

<div class = "list-group" style="padding : 1em">
{% for experience in experiences %}
<a href="{{path('displayExperience', {'id' : experience.id}) }}" class="list-group-item list-group-item-action" data-toggle="dropdown"> {{ experience.name }} <span class="badge badge-primary badge-pill" style = "float:right">1</span></a>


{% endfor %}

<footer style="padding : 5em 0 0 0" >
<a class="btn btn-primary" href = "{{ path('createExp',{'id' : app.user.id, 'method' : 'create'}) }}">Create an experience</a>
</footer>
{% endblock %}