{% extends 'base.html.twig' %}

{% block title %}Main{% endblock %}

{% block body %}

<h1> Bienvenue sur XPmobile </h1>

<p aria-hidden="true">
<h3>Pour qui ?</h3>
XPmobile est un site dédié aux chercheurs qui souhaiteraient trouver des participants 
plus facilement. Les participants s'inscrivent aux expériences grâce à l'application
mobile XPmobile.</p>

{% endblock %}
