{% extends 'base.html.twig' %}

{% block title %}Main{% endblock %}

{% block body %}

<h1> Bienvenue sur [NOM DE L'APPLICATION] </h1>

<p>
<h3>Pour qui ?</h3>
[NOM] est un site dédié au chercheurs qui souhaiteraient trouver des participant 
plus facilement. Les participants s'inscrivent aux experiences grâce à l'application
mobiles XP.</p>
<img src="http://placehold.it/200x150">

{% endblock %}
