{% extends "base.html.twig" %}
    
{% block title %}
Charte RGPD
{% endblock %}


{% block body %}

<div style="margin: 50px 50px 50px 0px">
<p style="font-size:1.5em">La GDPR, ou Règlement européen sur la protection des données personnelles en français,
concerne principalement la gestion des données à caractère personnel par l'application de procédures liées à un cadre légal renforcé. </p>

<h2>Quelles sont les données concernées par la GDPR</h2>
<p style="font-size:1.5em">
Toutes les données à caractère personnel comme le nom, le prénom, l'âge, le sexe, l'adresse mail,...
</p>

<h2>Quelles sont les implications ?</h2>
<p style="font-size:1.5em">
En vous inscrivant sur ce site vous prenez conscience que les données que vous y inscrirez seront traitées par celui-ci, vous y consentez donc. 
Vous pouvez à tout moment demander d'obtenir une copie des données conservées mais aussi la suppression de celles-ci.
</p>

<h2>Quels sont les risques en cas de non-application de la GDPR</h2>
<p style="font-size:1.5em">
Des sanctions importantes sont prévues pour les entreprises ne respectant pas la GDPR. 
Le règlement prévoit des sanctions allant du simple avertissement à l'amende pouvant aller jusqu'à 20 millions d'euros
 ou 4% du chiffre d'affaires pour les entreprises générant un chiffre d'affaires supérieur à cette limite.
</p>
<div>

<a href ="https://ec.europa.eu/info/law/law-topic/data-protection/reform/rules-business-and-organisations/principles-gdpr_fr" target="_blank">Pour plus d'informations suivez ce lien</a>

{% endblock %}